<div class="row top-offset">
  <div class="small-12 large-6 columns">
    <%= image_tag 'droidcon/droid-with-dragon.png' %>
  </div>
  <div class="small-12 large-6 columns">
    <h1>Droidcon <span class="text-white">Cracow</span></h1>
    <h4 class="text-gray">4th - 5th December 2014</h4>
    More details coming soon. :-)
  </div>
</div>
