<div class="row">
  <div class="small-12 large-6 columns top-offset">
    <%= image_tag 'droidcon/droid-with-dragon.png' %>
  </div>

  <div class="small-12 large-6 columns top-offset">
    <h1>Droidcon <span class="text-white">Kraków</span></h1>
    <h4 class="text-gray">4th - 5th December 2014</h4>
    <p>
      Want to hear about latest Android technology<br>
      and talk to experienced Android expert speakers?<br>
      Be a part of it. Join us on Droidcon Kraków!
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 columns top-offset">
    <h1>Sponsors</h1>
    Become a sponsor! <%= mail_to('droidconkrakow@gmail.com', 'Contact us', encode: :javascript) %>
  </div>

  <div class="small-12 large-6 columns top-offset">
    <h1>Call <span class="text-white">4</span> Papers</h1>
    <%= link_to 'Submit your talk', 'http://goo.gl/forms/hjc7fFiyo3' %> and become a speaker for the very first edition of Droidcon in Poland. Talks are 30 or 45 minutes long.
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 columns top-offset">
    <h1>Venue</h1>
    <p>
    The Manggha Museum of Japanese Art and Technology<br>
    ul. Marii Konopnickiej 26 Kraków
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2561.8970406964036!2d19.931527000000003!3d50.05076!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b6e166a8117%3A0x9076d27e065dbd87!2sManggha+Centre!5e0!3m2!1sen!2s!4v1413580553125" width="400" height="300" frameborder="0" style="border:0"></iframe>
  </div>
</div>
