$gray-text: #bbb;
$green-text: #a8de25; // rgba(168, 222, 37, 1)
$blue-text: #00c8e2; // rgba(0, 200, 226, 1)

body {
  background-image: url(asset-path('droidcon/body-bg.png'));
}

.text-white {
  color: white;
}

.text-gray {
  color: rgb(217,217,217);
}

.top-offset {
  margin-top: 4em;
}

.top-offset-small {
  margin-top: 2em;
}

.circle-photo {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-size: 100%;
}

.circle-photo-small {
  width: 70px;
  height: 70px;
  border-radius: 45px;
}

.circle-bg {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 70px;
  background-size: 100%;
  background-color: rgba(0, 200, 226, 0.8);
  margin-left: 1.1em;

  &:hover {
    background-color: rgba(0, 200, 226, 1);
    cursor: pointer;
  }

  span {
    color: black;
    width: auto;
  }

  &.facebook {
    padding: 1.1em;
    padding-left: 1.5em;
  }

  &.twitter {
    padding: 1em;
  }
}

.circle-label {
  padding-top: 2em;
}

.black-bg {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 1em 0;
  margin: 2em 0;
}

.center-content {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
}

.hr-blue {
  border-color: $blue-text;
}

.blue-underline {
  border-bottom: 1px dotted $blue-text;
  padding-bottom: 5px;
}
