$gray-text: #bbb;
$green-text: #a8de25;
$blue-text: #00c8e2;

body {
  background-image: url(asset-path('droidcon/body-bg.png'));
}

.text-white {
  color: white;
}

.text-gray {
  color: rgb(217,217,217);
}

.top-offset {
  margin-top: 4em;
}

.top-offset-small {
  margin-top: 2em;
}

.circle-photo {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-size: 100%;
}
