<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <div class="hide-for-medium">
      <h1><%= link_to 'Droidcon Kraków, Poland', '/' %></h1>
    </div>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <!-- <li class="active"><a href="#">Register - Coming soon</a></li> -->
    </ul>

    <!-- Left Nav Section -->
    <ul class="left x-go-to-by-scroll-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#social">Social</a></li>
      <li><a href="#c4p">Call 4 Papers</a></li>
      <li><a href="#become_sponsor">Become a sponsor</a></li>
      <li><a href="#speakers"><span class="blue-underline">Speakers</span></a></li>
      <li><a href="#agenda"><span class="blue-underline">Agenda</span></a></li>
      <li><a href="#organizers">Organizers</a></li>
      <li><a href="#sponsors">Sponsors</a></li>
      <li><a href="#venue"><span class="blue-underline">Venue</span></a></li>
    </ul>
  </section>
</nav>
